absl-py==1.0.0
alabaster==0.7.12
anaconda-client
appdirs==1.4.4
argh==0.26.2
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bkcharts==0.2
boto==2.49.0
Bottleneck
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.2.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clyent
comtypes==1.1.7
contextlib2==0.6.0.post1
cycler==0.10.0
cytoolz==0.11.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
feature-engine==1.1.2
filelock==3.0.12
Flask==1.1.2
flatbuffers==2.0
future==0.18.2
gast==0.4.0
glob2==0.7
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-trans-new==1.1.9
googletrans==3.1.0a0
grpcio==1.42.0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
HeapDict==1.0.1
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
imagesize==1.2.0
importlib-metadata==4.8.2
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
json5==0.9.5
jupyter==1.0.0
jupyter-core==4.6.3
jupyterlab==2.2.6
kaggle==1.5.12
keras==2.7.0
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.4.3
libarchive-c==2.9
libclang==12.0.0
llvmlite==0.34.0
locket==0.2.0
Markdown==3.3.6
MarkupSafe==1.1.1
mccabe==0.6.1
mistune
mkl-fft
mkl-random
mkl-service
mock
mpmath
msgpack
multipledispatch
navigator-updater
nose
notebook-as-pdf
numba
numexpr
oauthlib
olefile
opt-einsum
packaging
parso
partd
pathlib2
pathtools
patsy
pep8
pexpect
pickleshare
pkginfo
pluggy
ply
prometheus-client
protobuf
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycurl
pyee
pyflakes
pymodbus
pyodbc
pyparsing
PyPDF2
pyppeteer
pyreadline
pyserial
PySocks
pytest
python-dateutil
python-slugify
pytz
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
QtPy
requests-oauthlib
rfc3986
rsa
Rtree
ruamel-yaml
scikit-image
Send2Trash
simplegeneric
sip
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
statsmodels
tables
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
text-unidecode
tifffile
tornado
unicodecsv
webencodings
websockets
Werkzeug
widgetsnbextension
win-inet-pton
win-unicode-console
wincertstore
wordcloud
wrapt
xlrd
xlwings
xlwt
xmltodict
zict
zope.event
